<!-- index.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>gdh40</title>

  <!-- CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

  <!-- navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Gavin Is Not Yet Dead</a>
    </div>
  </nav>

  <!-- main body of our application -->
  <div class="container-fluid" id="albums">
    <div class="row">

      <!-- show the events -->
      <div class="col-xs-12 col-lg-6">
        <div class="list-group">
          <a href="#" class="list-group-item" v-for="album in albums | orderBy 'year'">
            <p class="list-group-item-heading">{{ album.name }}</p>
            <p class="list-group-item-text">{{ album.year }}</p>

            <h5>
              <i class="glyphicon glyphicon-calendar" v-if="album.arturl"></i> 
              <img src="{{ album.arturl }}">
            </h5>

            <button class="btn btn-md btn-primary" v-on:click="selectAlbum(album)">Select</button>
          </a>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item" v-for="track in tracks">
            <h4 class="list-group-item-heading">
            <i class="glyphicon glyphicon-bullhorn"></i> 
            {{ track.title }}
            </h4>

            <button class="btn btn-md btn-primary" v-on:click="selectTrack(track)">Add this track</button>
          </a>
        </div>

      </div>
    </div>

    <div class="row">
      <!-- add an event form -->
      <div class="col-xs-12 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Add to the playlist</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <li> Can you sing along to it?
              <li> Is it appropriate for the audience?
              <li> Does it have a beat (120-160bpm ideally)
              <li> Is it, you know, actually any good?     
            </div>

            <div class="form-group">
              <input class="form-control" placeholder="Artist" v-model="search.artist">
            </div>

            <div class="form-group">
              <input class="form-control" placeholder="Album (optional)" v-model="search.album">
            </div>
 
            <div class="form-group">
              <input class="form-control" placeholder="Track (optional)" v-model="search.track">
            </div>

            <button class="btn btn-primary" v-on:click="searchButton">Search</button>
          </div>
        </div>
    </div>
  </div>

  <!-- JS -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="https://rawgit.com/nickdesaulniers/javascript-playlist-parser/master/lib/parser.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
